.chat {
  flex: 0.7;
  flex-grow: 1;
  height: 90vh;
  border: 0.5px solid #00b7c2;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chatHeader {
  padding: 20px;
  border-bottom: 1px solid #00b7c2;
}

.chat__headerLeft > h4 {
  display: flex;
  text-transform: lowercase;
  padding: 5px;
}

.chatBottom {
  padding-bottom: 100px;
}
