.home {
  background-color: #141518;
}
.home > h1 {
  color: #fff;
  text-align: center;
  padding: 30px;
}

.home__genres {
  display: flex;
  justify-content: space-around;
}
.home__form button {
  height: 35px;
  background-color: #346751;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  font-weight: 600;
}
.home__form input {
  height: 25px;
  width: 210px;
}

.home__genres > form {
  color: #fff;
}
.genre__list {
  color: #fff;
}
.genre__list > h2 {
  text-align: center;
}

.genre__listItems {
  width: 30vw;
  flex-wrap: wrap;
  display: flex;
}
.genre__listItems > p {
  padding: 15px;
}

.genres {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .genres {
    padding: 20px;
  }
}
