.popular {
  text-align: center;
  background-color: #141518;
  height: 90vh;
  color: #fff;
  padding-top: 10px;
}

.games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

@media only screen and (max-width: 500px) {
  .popular {
    height: auto;
    margin: 0 auto;
    color: #fff;
  }
}
